html
	head
		title= Chief.local.heading || Chief.global.heading

		link(href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet" type="text/css")

		//- link(href="assets/css/main.css" rel="stylesheet")
  
	body

		h1= Chief.local.title

		!= Chief.local.markdown

		ul
			each key in Chief.local

				li= key

		
		h4 Projects

		ul
			each page, key in Chief.pages.projects.pages

				li
					a(href=page.href)= page.title

					//- each value, key in page
					//- 	br
					//- 	span= value
					//- 	br
					//- 	span= key
					//- 	br
					//- 	span -----


		h4 Case Studies

		ul
			each page, key in Chief.pages.cases.pages

				li
					a(href=page.href)= page.title

					//- each value, key in page
					//- 	br
					//- 	span= value
					//- 	br
					//- 	span= key
					//- 	br
					//- 	span -----

		//- h3= Chief.local.title

		//- script(src="assets/js/main.js")

		code!= Chief.projects
